<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="{{ color }}">
	<title>{{ title }}</title>
	<link href="styles/style.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="icon" type="image/png" href="{{ favicon }}">
</head>

<body>
	<div id="hero">
			<div id="title-bar">
				<div>
					<h1>{{ title }}</h1>
					<h2 id="subtitle">{{ subtitle }}</h4>
				</div>
			</div>
	</div>

	<div id="page-wrap">
		<div class="card">
			<div class="card-title">About</div>
			<div class="card-text">{{ about }}</div>
		</div>

		<div class="card">
			<div class="card-title">Education</div>
			{% for school in schools%}
			<div class="card-list-element">
				<div class="card-list-title">{{ school.title }}</div>
				<div class="card-list-subtitle">{{ school.subtitle }}</div>
				<div class="card-hidden">
					<div class="card-list-text">{{ school.text }}</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="card">
			<div class="card-title">Employment</div>
			<div class="card-list-element">
				<div class="card-list-title">Makerbot</div>
				<div class="card-list-subtitle">Firmware Engineer <br /> 2016 Summer</div>
				<div class="card-hidden">
					<div class="card-list-text">
						Developed patches for 3D printer firmware, and configured the Linux device tree for different peripheral hardware components.
					</div>
				</div>
			</div>
			<div class="card-list-element">
				<div class="card-list-title">Intuit</div>
				<div class="card-list-subtitle">Software Engineer<br /> 2015 July - December</div>
				<div class="card-hidden">
					<div class="card-list-text">
						Software Engineer on the Technology Exploration team at TurboTax. I worked on technologies involving natural language processing,
						virtual assistance, support/care, data analysis, and mobile development using a wide variety of programming languages and environments.
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-title">Projects</div>
			<div class="card-list-element small">
				<b>Material-Resume:</b> Material Design static site generator used to build this site.
				<div class="card-hidden">
					<div class="card-list-text">
						Developed patches for 3D printer firmware, and configured the Linux device tree for different peripheral hardware components.
					</div>
				</div>
			</div>
			<div class="card-list-element small">
				<b>Social:</b> Social media mobile application and webserver.
				<div class="card-hidden">
					<div class="card-list-text">
						Developed patches for 3D printer firmware, and configured the Linux device tree for different peripheral hardware components.
					</div>
				</div>
                <a class="card-button" href="https://github.com/tylerkrupicka/material-resume" target="_blank">GITHUB</a>
			</div>
		</div>

		<div class="card">
			<div class="card-title">Awards &amp; Activites</div>
			<div class="card-list-element small">
				<b>Social:</b> Social media mobile application and webserver.
				<div class="card-hidden">
					<div class="card-list-text">
						Developed patches for 3D printer firmware, and configured the Linux device tree for different peripheral hardware components.
					</div>
				</div>
			</div>
		</div>

		<div id="footer">© Tyler Krupicka</div>
		<div id="recognition">Generated using <a href="https://github.com/tylerkrupicka/material-resume">Material-Resume</a></div>
	</div>


</body>

</html>
