@keyframes slidein {
  from {
    margin-top: 100px;
	opacity: .2;
	margin-left: auto;
    margin-right: auto;
  }

  to {
	  opacity: 1;
    margin-left: 0%;
	margin-left: auto;
    margin-right: auto;
  }
}
