@charset "utf-8";
/* CSS Document */
@import 'card.css';
@import 'animation.css';
@import 'list-elements.css';
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

a {
	color: #1E88E5;
	text-decoration: none;
}

b {
	color: rgba(0, 0, 0, 0.85);
}

body {
	background-color: #FAFAFA;
}

#hero {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	height: 220px;
	background: #1E88E5;
	background-size: cover;
	color: #fff;
}

#page-wrap {
	width: 700px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -120px;
	animation-duration: 1s;
	  animation-name: slidein;
	animation-timing-function: ease-in-out;

}


#title-bar{
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#subtitle {
	font-weight: 300;
	padding-left: 2px;
}

#footer {
	padding-top: 20px;
	text-align: center;
	color: rgba(0, 0, 0, 0.57);
	font-weight: 400;
}

#recognition {
	color: rgba(0, 0, 0, 0.57);
	font-weight: 400;
	text-align: center;
}
